body { 
    background-color: white;

  }

h3 {
  color: rgb(31, 179, 190);
}

  
small {
  font-size: 20px;
}
.jumbotron h1 {
    color: orange;
    font-size: 80px;
}

.jumbotron {
  background-image: url(../img/bg3.jpeg);
  background-size: cover;
  background-attachment: fixed;
  size: 60%;
  height: 400px;
}

.mood-box {
  border: 1.5px solid grey;
  border-radius: 8px;
  background-image: linear-gradient(to right, white, rgba(250, 248, 132));
}

