body { 
    background-color: white;
  }
  
h1 {
    color: red;
}

.mood-box {
  border: 1.5px solid grey;
  border-radius: 8px;
  background-image: linear-gradient(to right, white, rgba(250, 248, 132));
  margin: 3px;
  padding: 3px;
}

.mood-box p {
  margin: 0px;
}