body { 
    background-color: whitesmoke;
}
  

small {
  font-size: 20px;
}
h4 {
  color:lightcorall
}
hr {
  width:50%;

}
.jumbotron h1 {
    color: CornflowerBlue;
    font-size: 60px;
    font-family: 'Lobster';
}

.jumbotron {
  background: linear-gradient(90deg, rgba(208, 208, 219, 0.712) 1%, rgba(207, 161, 222, 0.603) 44%, rgba(0, 213, 255, 0.24) 89%);
  height: 400px;
}

.div-tile {
  border-radius: 16px;
  padding: 8px;
  box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 1px 3px 1px;
}

.mood-box {
  padding: 16px !important;
  border-radius: 16px;
  border: 1px solid grey;
}

.graph-title, .nav-item {
  font-family: 'Lobster';
}

h3 a:link {
  font-family: 'Lobster';
  color: SlateGray !important;
  text-decoration: none;
}

.mood-box-happy {
  background-color: rgba(255, 250, 240, 0.637);
  border-color: PeachPuff;
  box-shadow: 0 0 5px PeachPuff;
}

.mood-box-sad {
  background-color: AliceBlue;
  border-color: rgba(135, 206, 250, 0.308);
  box-shadow: 0 0 5px LightSkyBlue;
}

.mood-box p {
  margin: 0;
  padding: 0;
}


.mood-box small {
  font-size: 12px;
}


.profile {
  padding: 16px;
}

.chart-area {
  padding: 24px;
}

.action-button {
  display: inline;
}