{% extends 'base.html' %}

{% load static %}

{% block title %}Home{% endblock %}

{% block content %}
{% if user.is_authenticated %}

  <div class="jumbotron text-center" style="margin-bottom:0">
    <small>Welcome to </small>
    <h1>Moodie</h1>
    <hr class="colored hidden-xs hidden-height-670">
    <h4>Track your mood and get anonymous support!</h4>

    <a class="nav-link" href="{% url 'mood_journal:mood_new' %}"> ADD NEW MOOD</a>
    <!-- <p>Resize this responsive page to see the effect!</p>  -->
  </div>

  <nav class="navbar navbar-expand-sm bg-dark navbar-dark ">
    <a class="navbar-brand" href="#"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar">
      <ul class="navbar-nav mx-auto">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'mood_journal:mood_new' %}">New Mood</a>
        </li>
      </ul>
    </div>  
  </nav>

  <div class="container" style="margin-top:30px">
    <div class="row">
      <div class="col-sm-4">
        <div class="profile-picture">
          <img src="{% static 'img/generic_profile_picture.PNG' %}" alt="Profile Picture" width="130" height="130"/>
        </div>
        <h2 class="username">{{user.username}}</h2>
        <p class="aboutme">Some text about me in culpa qui officia deserunt mollit anim..</p>
        <br>
        <h3 class="link">Some Links</h3>
        <p>Lorem ipsum dolor sit ame.</p>
        <ul class="nav nav-pills flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">Active</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
        </ul>
        <hr class="d-sm-none">
      </div>
      <div class="col-sm-8">
        <h2 style="font-family: system-ui; ;">Current Mood Chart</h2>
        <div class="chart-area">
          <canvas id="my-chart"></canvas>
        </div>
        <br>

        {% for mood in moods %}
        <div class="mood-box">
          <h2>Mood <a href="/mood/{{mood.id}}/">{{mood.id}}</a></h2>
          <p>Date: {{mood.timestamp}}</p>
          <p>Score: {{mood.score}}</p>
          <p>Recomendation: {{mood.recommendation}}</p>
          <p>Link: <a href={{mood.link}}>{{mood.link_title}}</a></p>
        </div>
          <br>
        {% endfor %}
      </div>
    </div>
  </div>
  
  <div class="jumbotron text-center" style="margin-bottom:0">
    <p>Footer</p>
  </div>


  <script language="JavaScript">
    var config = {
      type: 'line',
      data: {
        labels: {{ labels|safe }},
        datasets: [{
          label: "Happiness",
          lineTension: 0.3,
          backgroundColor: "rgba(78, 115, 223, 0.05)",
          borderColor: "rgba(78, 115, 223, 1)",
          pointRadius: 3,
          pointBackgroundColor: "rgba(78, 115, 223, 1)",
          pointBorderColor: "rgba(78, 115, 223, 1)",
          pointHoverRadius: 3,
          pointHoverBackgroundColor: "rgba(78, 115, 223, 1)",
          pointHoverBorderColor: "rgba(78, 115, 223, 1)",
          pointHitRadius: 10,
          pointBorderWidth: 2,
          data: {{ data|safe }}
        }],
      },
      options: {
        responsive: true
      }
    };

    window.onload = function() {
      var ctx = document.getElementById("my-chart").getContext('2d');
      window.myChart = new Chart(ctx, config);
    };
  </script>

  <br></br>
  <p><a href="{% url 'logout' %}">Log Out</a></p>
{% else %}
  <p>You are not logged in</p>
  <a href="{% url 'login' %}">Log In</a>
{% endif %}
{% endblock %}