
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mood box</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
        integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'mood_journal/styles/mood.css' %}">
</head>
<body>
    <!-- <div>Mood</div>
    <div>Timestamp</div>
    <div>Happy</div>
    <div>Recommendation</div> -->
    <div class="container">
       
        <div class="p-3 mb-2 bg-primary text-white">
          <!-- <div class="col-md-4">
            <div class="col-md-2"></div>
                <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
                
          </div>
          <div class="col-md-4">
            <div class="col-md-2"></div>
                <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
          </div> -->
          <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
        </div>
  
        <div class="p-3 mb-2 bg-success text-white">
            <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
          <!-- <div class="col-md-4">
            <div class="col-md-2"></div>
                <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
            
          </div>
          <div class="col-md-4">
            <div class="col-md-2"></div>
                <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
          </div> -->
        </div>

        <div  class="p-3 mb-2 bg-warning text-dark">
            <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
        </div>

        <div class="p-3 mb-2 bg-info text-white">
            <p>Mood <br> Timestamp <br>Happy <br>Recommendation</p>
        </div>
      </div>


</body>
</html>